*{
    margin: 0;
    height: 45px;
}
#navbar{
    display: flex;
}
#navbar>#youtubename{
    color: white;
}
#navbar>#logomenu{
    height: 25px;
    margin-top: 14.5px;
    padding-left: 20px;
}
#navbar>#youtubename{
    padding-left: 10px;
    margin-top: -12px;
 height: 80px;
}
#navbar sup{
    color: rgba(255, 255, 255, 0.77);
    font-size: 10px;
}
#navbar>input{
    margin-left: 210px;
    margin-top: 9px;
    height: 35px;
    width: 480px;
    padding-left: 20px;
    font-family: "Roboto", sans-serif;
    font-size: 17px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    border: 2px solid rgba(0, 0, 0, 0.585);  
}
#navbar>#search{
    border: 2px solid rgba(0, 0, 0, 0.585);
    margin-left: -1px;
    margin-top: 9px;
    height: 27px;  
    border-left-color: rgba(240, 248, 255, 0);  
    padding: 10px 10px 0px 10px;    
     border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    cursor: pointer;
}
#navbar>#search>i{
    color: rgba(0, 0, 0, 0.585);
    font-size: 21px;
}
#navbar>#search>i:hover{
    color: black;
}
#navbar>#microphone{
    border: 2px solid rgba(0, 0, 0, 0.585);
    margin-left: 20px;
    margin-top: 10px;
    height: 32px; 
    width: 32px; 
    border-radius: 30px;
    cursor: pointer;
}
#navbar>#microphone>i{
    color: rgba(0, 0, 0, 0.585);
    font-size: 21px;  
    padding-top: 6px;  
    padding-left: 2.5px;
}
#navbar>#microphone:hover{
    background-color: rgba(0, 0, 0, 0.585);
}
#navbar>#microphone>i:hover{
    font-size: 22px;
    color: black;
    height: 35px;  
    padding-top: -9px;
    padding-bottom: -20px;
    border-radius: 30px;
}
#navbar>#create{
    display: inline-block;
    border: 2px solid rgba(0, 0, 0, 0.585);
    margin-left: 150px;
    margin-top: 10px;
    height: 30px; 
    width: 70px; 
    border-radius: 30px;
    cursor: pointer;
    font-family: "Roboto", sans-serif; 
     font-size: 18px;
      padding-top: 7px;
     padding-left: 40px;
}
#navbar>#plus{
    position: absolute;
    margin-left: 1165px;
    font-size: 32px;
    margin-top: 12px;
    font-weight: bolder;
}
#navbar>#create:hover{
    background-color: rgba(0, 0, 0, 0.585);
}
#navbar>#bell{
    border: 2px solid rgba(0, 0, 0, 0.585);
    margin-left: 15px;
    margin-top: 12px;
    height: 33px; 
    width: 33px; 
    border-radius: 35px;
    cursor: pointer;
}
#navbar>#bell>img{
    height: 20px;
    width: 17px;
    padding-left: 8.2px;
    padding-top: 6px;
}
#navbar>#bell:hover{
    background-color: rgba(0, 0, 0, 0.585);
}
#navbar>#signup{
    border: 2px solid rgba(0, 0, 0, 0.585);
    margin-left: 15px;
    margin-top: 12px;
    height: 27px; 
    width: 23px; 
    border-radius: 30px;
    cursor: pointer;
    padding-top: 8px;
    padding-left: 13px;
    font-family: "Roboto", sans-serif;  
    background-color:blueviolet ;
    color: white;
}
#navbar>#signup:hover{
    background-color: rgba(0, 0, 0, 0.585);
    color: white;
}
